<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" placeholder="Search" name="search">
    </form>

    <% if (locals.response) { %>
        <% response.data.items.forEach(video => { %>
            <% if (video.id.kind === 'youtube#video') { %>
                <img src=<%= video.snippet.thumbnails.high.url %> />
            <% } %>
        <% }); %>
    <% } %>
</body>
</html>