<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" placeholder="Search" name="search">
    </form>

    <% if (locals.response) { %>
        <% response.forEach(video => { %>
            <% if (video.id.kind === 'youtube#video') { %>
                <form action="/video" method="post">
                    <input name="videoId" value=<%= video.id.videoId %> style="display: none;" />
                    <button>
                        <img src=<%= video.snippet.thumbnails.high.url %> />
                    </button>
                </form>
            <% } %>
        <% }); %>
    <% } %>

    <% if (locals.error) { %>
        <p><%= error %></p>
    <% } %>
</body>
</html>